[Unit]
Description=Announcer for Flitter's builder

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0
ExecStart=/usr/bin/sh -c 'while true; do if docker inspect flitter-builder; then etcdctl set --ttl 120 /flitter/builder/host $COREOS_PRIVATE_IPV4 120; etcdctl set --ttl 120 /flitter/builder/port 2231; else break; fi; sleep 60; done'

[X-Fleet]
MachineOf=flitter-builder
