[Unit]
Description=Flitter TCP proxy

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull flitter/proxy
ExecStartPre=-/usr/bin/docker rm -f flitter-proxy
ExecStart=/bin/sh -c 'source /etc/environment; /usr/bin/docker run --name flitter-proxy -p 2232:2232 -e HOST=$COREOS_PRIVATE_IPV4 flitter/proxy'
ExecStop=/usr/bin/docker rm -f flitter-proxy

[X-Fleet]
Global=true
