[Unit]
Description=Flitter builder

[Service]
TimeoutStartSec=30m
ExecStartPre=-/bin/sh -c '/usr/bin/docker rm -f flitter-builder'
ExecStartPre=/usr/bin/docker pull flitter/builder
ExecStart=/usr/bin/docker run --name flitter-builder --privileged -p 2231:22 -v /etc/environment:/host-environment:ro flitter/builder
ExecStop=/usr/bin/docker rm -f flitter-builder
