[Unit]
Description=Lagann

[Service]
TimeoutStartSec=30m
ExecStartPre=/usr/bin/docker pull flitter/lagann
ExecStartPre=-/usr/bin/docker rm -f flitter-lagann
ExecStart=/usr/bin/docker run --name flitter-lagann -v /etc/environment:/host-environment:ro -p 3000:3000 --hostname lagann flitter/lagann
ExecStop=/usr/bin/docker rm -f flitter-lagann
Restart=on-failure
RestartSec=5
