[Unit]
Description=Docker registry

[Service]
TimeoutStartSec=30m
ExecStartPre=/usr/bin/docker pull registry
ExecStartPre=-/usr/bin/docker rm -f flitter-registry
ExecStart=/usr/bin/docker run -p 5000:5000 --name flitter-registry --hostname registry registry
ExecStop=-/usr/bin/docker rm -f flitter-registry
